table
{
  width: 100%;
}

.map
{
  width: 95%;
  height: auto;
  margin: 0 auto;
}

.japan
{
  width: 100%;
}

.japan .prefecture
{
  fill: #f7f7f7;
  stroke: #666666;
  cursor: pointer;
}

.japan .boundary-line
{
  stroke: #999999;
}
